body{
    background-color: #121f3d;
}
#error{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
}
.img{
    height: 200px;
    width: 200px;
}
.container-img{
    margin: 0 auto;
}
.container-btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.container-img div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}
.container-img div article{
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 10;
}
#btn-random{
    width: 100px;
    border: none;
    background-color: navy;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
a{
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.favorites{
    /* border: 1px solid red; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 20px;
}
.favorites article{
    width: 200px;
    height: 250px;
    position: relative;
    z-index: 10;
    /* border: 1px solid red; */
}
.favorites article .img{
    height: 250px;
}
.btn-favorite{
    background-color: #fff;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    right: 5px;
    top: 8px;
    cursor: pointer;
    transition: .2s ease all;
}
.fa-heart{
    font-size: 1.5rem;
    position: relative;
}
.add-favorite{
    color: #ff0000;
}