.img{
    height: 500px;
    width: 500px;
}
.container-img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
.container-btn{
    display: flex;
    justify-content: center;
}
#btn-random{
    width: 100px;
    border: none;
    background-color: navy;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
a{
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}