img{
    height: 500px;
    width: 500px;
}
.container-img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
#btn-random{
    width: 100px;
    border: none;
    height: 40px;
    background-color: navy;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}